
/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define FUNC  1

/* Uncomment this block if using RGB
&led_strip {
    chain-length = <6>;
    // chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
    // chain-length = <25>; // Uncomment if using only per-key LEDs.
};
 */

&default_transform {
    col-offset = <7>;
};

&kscan0 {
    row-gpios
    = <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    ;
    col-gpios
    = <&pro_micro 16 GPIO_ACTIVE_HIGH>
    , <&pro_micro 4  GPIO_ACTIVE_HIGH>
    , <&pro_micro 5  GPIO_ACTIVE_HIGH>
    , <&pro_micro 6  GPIO_ACTIVE_HIGH>
    , <&pro_micro 7  GPIO_ACTIVE_HIGH>
    , <&pro_micro 8  GPIO_ACTIVE_HIGH>
    , <&pro_micro 10 GPIO_ACTIVE_HIGH>
    ;
};

&right_encoder {
    status = "okay";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | LAYER 1 | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |

            bindings = <
            &kp GRAVE  &kp Q  &kp W  &kp E &kp R &kp T                                                                  &kp Y              &kp U     &kp I      &kp O    &kp P     &kp BSLH
            &kp TAB    &kp A  &kp S  &kp D &kp F &kp G                                                                  &kp H              &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
            &kp MINUS  &kp Z  &kp X  &kp C &kp V &kp B  &kp LEFT_ALT  &kp LSHFT  &trans &tog FUNC  &kp N             &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp EQUAL
                       &kp C_MUTE  &kp LGUI  &mt LEFT_SHIFT LEFT_BRACKET &kp SPACE     &mt LEFT_ALT ESC    &mt RSHFT RET  &mt RIGHT_CONTROL BACKSPACE  &kp RIGHT_BRACKET  &lt FUNC BSPC  &kp HOME
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp UP DOWN>;
        };

        function_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |       |      |BT_CLR|BTSEL0|BTSEL1|BTSEL2|                                         |      |      |      |      |      |      |
            // |       |      |      |BTSEL3|BTSEL4|      |                                         |      |      |      |      |      |      |
            // |       |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |

            //                       |      |      |      |      |      |      |      |      |      |      |      |      |
            bindings = <
               &bt BT_CLR  &bt BT_PRV &kp W   &bt BT_NXT    &bt BT_SEL 0 &bt BT_DISC 0                &kp C_RW    &kp C_PP     &kp C_FF   &trans  &trans  &trans
               &kp TAB &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4 &kp NUMBER_5                      &kp LEFT    &kp DOWN     &kp UP      &kp RIGHT   &trans  &trans
               &trans  &kp NUMBER_6  &kp NUMBER_7 &kp NUMBER_8   &kp NUMBER_9 &kp NUMBER_0 &trans &trans       &trans  &tog FUNC  &kp C_BRI_DN  &kp C_BRI_UP  &kp C_BRI_AUTO  &trans  &trans  &trans
                       &kp C_MUTE        &trans       &kp LEFT_SHIFT &kp SPACE  &lt LEFT_ALT ESC                   &lt RSHFT RET  &lt RIGHT_CONTROL BSPC  &trans  &trans  &kp HOME
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

    };
};
